:root {
  --section-overlay: rgba(3, 25, 25, 0.7);
  background-color: black;
  background-image: url(blurred.jpg);
}

.App{
  width: screen;
  height: screen;
}


.Desktop{
  margin: auto;
  background-image: url(backgroundImage.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 95%;
  height: 700px;
  font-family: 'Roboto', sans-serif; 
}

.weatherInfo{
  width: 60%;
  color: white;
  opacity: 0.80;
}

.temperature{
  width: 60%;
  margin: 10%;
  margin-bottom: -10%;
  display: flex;
  justify-content: center;
  font-size: 200%;
  border-bottom: 1px solid white;
  
}

.F:hover{
  font-weight: bold
}

.C:hover{
  font-weight: bold
}

.current{
  width: 60%;
  margin: 10%;
  display: flex;
  justify-content: space-between;
  font-size: 200%;

}

.current p {
  font-size: 50%;
  opacity: 1;
  margin-top: -7%;
}

.current div {
  text-align: center;
}

.Forms {
  width: 40%;
  /* background: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(16px);
  color: rgb(255, 254, 226);
  height: 700px;
}




.Mobile{
  margin: auto;
  background-image: url(backgroundImage.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 95%;
  font-family: 'Roboto', sans-serif; 
  color: white;
  border-radius: 25px;
}

.tempMobile{
  opacity: .80;
  margin-top: 15%;
}

.currentMobile{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15%;
  width: 60%;
  margin: 10%;
}

.currentMobile p {
  font-size: 75%;
}

.FormsMobile {
  width: 100%;
  color: white;
  border-radius: 25px;
  background-image: url(backgroundImage.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.LetsConnectMobile:hover {
  color: grey;
  cursor: pointer;
}

