:root {
  --section-overlay: rgba(3, 25, 25, 0.7);
}

.App {
  width: 100%;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-position: center;
  background-size: cover;
}
.Weather{
  background-color: var(--section-overlay);
  border-radius: 25px;
  width: 80%;
  height: 300px;
  margin: auto;
  color: white;

}

.location{
  letter-spacing: -1px;
  margin-top: 1%;
  margin-bottom: -5%;
  padding: 0;
  margin-left: 5%;
}

.weatherbox{
  margin-right: 5%;
  display: block;
  text-align: center;
  text-align: right;
  margin-top: 2%;
}